.name {
  background-color: #B7E4C7;
  color: #353839;
  border-radius: 10px;
  border: solid rgba(149, 213, 178,0.5) 5px;
  margin: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:150%;
}
.disabled {
  filter:grayscale(100%);
}
#x {
  opacity:0.5;
  /*right:10%;
  top:50%;
  bottom:50%;*/
  font-size:90%;
}
#names {
  width: 50%;
}
button {
  cursor:pointer;
}
.name button {
  position: absolute;
  left: 75%;
  border-radius: 0px;
  border-color:transparent;
  background-color: transparent;
  color:#FEFFFE;
}
/*#add {
  font-weight:bold;
}*/
html, body {
  background-color: #D8F3DC;
  color:#353839;
  font-family: ShinGo;
  font-size:110%;
  height:100%;
  padding:0;
  margin:0;
  overscroll: auto;
}
h1 {
  font-size:230%;
  font-color:#FEFFFE;
}
button {
  font-family:ShinGo;
  font-size:200%;
}
input:focus{
  outline: none;
}
#names {
  width:100%;
}
#names input, #add {
  margin:0px 0px 0px 0px;
  border-radius: 0px;
  border-color:transparent;
  background-color: transparent;
  color:#353839;
}
#names input {
  font-size: 150%;
  width:80%
  font-family: ShinGo;
}
.name {
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
}
#choose {
  position:relative;
  top: 3px;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
}
#names input {
  border-bottom: 1.5px solid #353839;
}
::placeholder {
  color: #353839;
  opacity: 0.5;
  font-family:ShinGo;
  font-size:100%;
}
@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity:1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform:scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.name {
  transition:1s;
  transform: scale(1);
  opacity:1;
  grid-column: 40%;
  transition-timing-function: ease-in;
}

.name.hide {
  animation: zoom-out 3s ease-in-out;
  transform: scale(0);
  transition:0s;
  opacity:0;
}

.winner {
  /*animation: zoom-out 1s ease;
  animation: zoom-in 2s ease ;*/
  transition:1s;
  opacity:1;
  transform: scale(1);
}

#choose {
  background-color:#74C69D;
  border: solid #52B788 4px;
  border-radius: 10px;
  font-size:145%;
  color: #353839;
}
@font-face {
  font-family: ShinGo;
  src: url("ShinGo.woff");
}
@media screen and (min-width: 768px) {
  #namearea {
    transition: 1s;
    display: grid;
    grid-template-columns: auto auto;
  }
}
